
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Sivalai Thai Cuisine <br /> Hours of Operation</h1>

<div>
    <p><b>Closed Tuesdays</b></p>
    <p><b>Lunch:</b> 11:00 am - 3:30 pm</p>
    <p><b>Dinner:</b> 3:30 pm - 9:30 pm</p>
    <p><b>Sunday Diner Only:</b> 4:00 pm - 9:00 pm</p>
    <p><b>Brunch Buffet ($15.95): 11:30 am – 3:00 pm, 1st and 2nd Sunday of the month</b></p>
</div>

