@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var menu = (RestaurantFullMenu)ViewData["Menu"];
}

<h1>Store Menu</h1>
<ul class="nav nav-tabs">
    @foreach (var category in menu.categorys.Values)
    {
        
        <li role="presentation">
            <a data-toggle="collapse" data-target="#collapseOne@(category.CategoryNumber)" aria-expanded="true" aria-controls="collapseOne@(category.CategoryNumber)">                
                @category.CategoryName
            </a>
        </li>
    }
</ul>

<div class="accordion" id="accordionExample2">
    @foreach (var category in menu.categorys.Values)
    {
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingOne2">
                <h5 class="mb-0"></h5>
            </div>
            <div id="collapseOne@(category.CategoryNumber)" class="collapse" aria-labelledby="headingOne@(category.CategoryNumber)" data-parent="#accordionExample@(category.CategoryNumber)">
                <div class="card-body">
                    @{
                        Html.RenderPartial("Menu/Appetizers");
                    }
                </div>
            </div>
        </div>
    }    
</div>




